:root {
    --background-dark1: #202733;
    --background-dark2: #2B3443;
    --background-dark3: #1F365C;
    --accent-color: #31558F;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;

    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-dark1);
}

header {
    position: fixed;
    top: 0;
}

#welcome-section {
    height: 100vh;
}
